.App {
  text-align: center;
}

.NavBar {
  display: flex;
  justify-content: space-around;
  background-color: black;
  color: white;
}

.NavBar ul {
  list-style-type: none;
}

.NavBar li {
  display: inline;
  padding: 8px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homeCollection {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  width: 90%;
}

.homeCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.homeCard img {
  height: 300px;
  width: 220px;
  border-radius: 15px;
}

.homeCard h1 {
  font-size: 1.2em;
}
