.App {
  text-align: center;
}

.NavBar {
  display: flex;
  justify-content: space-around;
  background-color: black;
  color: white;
}

.NavBar ul {
  list-style-type: none;
}

.NavBar li {
  display: inline;
  padding: 8px;
}
.NavBar a {
  text-decoration: none;
  color: white;
}

.main {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.homeCollection {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  overflow-y: scroll;
  height: 86vh;
}

.homeCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.homeCard img {
  height: 250px;
  width: 160px;
  border-radius: 15px;
}

.homeCard h1 {
  font-size: 1.2em;
}

.homeCollection a {
  text-decoration: none;
  color: black;
}

.trendingAside {
  display: block;
  height: 86vh;
  overflow-y: scroll;
}

.trendingAside > a div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 180px;
  height: 190px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  margin-bottom: 30px;
}

.trendingAside h1 {
  font-size: 1rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.334);
}

.singleViewMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}
.singleViewHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  gap: 40px;
}

.singleViewSynopsis > article {
  text-align: start;
}

.singleViewInfo {
  display: flex;
  margin-top: 16px;
}

.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.loginCard {
  display: flex;
  flex-direction: column;
  box-shadow: 4px 6px 10px grey;
  width: 50%;
  margin: auto;
  padding-bottom: 20px;
}

.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px 0px;
}

.loginForm > input {
  width: 300px;
  padding: 10px 40px;
}
.buttonForm {
  background-color: #04aa6d;
  color: white;
  border: none;
  margin-top: 10px;
  padding: 8px 70px;
  font-size: 15px;
}

.buttonForm:hover {
  cursor: pointer;
  background-color: #03754b;
}

.buttonLogin {
  border: none;
  background-color: white;
}

.buttonLogin:hover {
  cursor: pointer;
  font-size: large;
}

.commentSection {
  margin-top: 20px;
  width: 900px;
  gap: 20px;
}

.commentForm {
  width: 100%;
  height: 100%;
}

.commentForm > form > input {
  width: 500px;
  height: 30px;
  margin-left: 10px;
}

.commentForm > form > button {
  border: none;
  margin-left: 10px;
}

.libraryContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.libraryContainer input {
  width: 250px;
  margin-bottom: 10px;
}

.libraryOption span {
  margin: 0px 10px;
}
.libraryCollection {
  display: inline-grid;
  grid-template-columns: repeat(6, 220px);
}

.libraryCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 200px;
  margin-top: 20px;
}

.libraryCard img {
  height: 200px;
  width: 130px;
  border-radius: 20px;
}

.userHome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.userHeader {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.userImg {
  margin-right: 100px;
}

.userImg img {
  width: 230px;
  height: 200px;
}

.userInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.updateForm {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.headerTitle {
  display: flex;
  justify-content: space-between;
  width: 1100px;
  margin-left: 200px;
}
